.weather-card {
    background-color: rgb(127, 240, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rebeccapurple;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.weather-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.weather-condition {
    font-size: 1.2rem;
    font-weight: bold;
}

.weather-temp {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.weather-details {
    margin-top: 10px;
    font-size: 0.9rem;
    color: rebeccapurple;
}